<h2>Ship {{getShipDisplayName()}}</h2>

<h3>Day: {{ship?.day}}</h3>

<h3>State: {{ship?.state}}</h3>

<h3>Resources</h3>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>State</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let shipResource of getSortedShipResources()">
      <td>{{getResourceName(shipResource)}}</td>
      <td>{{shipResource.amount}}</td>
      <td>{{shipResource.state}}</td>
    </tr>
  </tbody>
</table>

<button (click)="makeMove()">Next Day!</button>
