<h2>User {{userName}}</h2>

<h3>Sessions</h3>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Ship ID</th>
      <th>Generator ID</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let userSession of userSessions">
      <td>{{userSession.sessionId}}</td>
      <td>{{userSession.shipId}}</td>
      <td>{{userSession.generatorId}}</td>
      <td>
        <a [routerLink]="['/users', userId, 'sessions', userSession.sessionId, 'ship']" class="link">View Ship</a>
      </td>
    </tr>
  </tbody>
</table>

<button (click)="createSession()">Create New User Session</button>
